.checkin-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.checkin-card__icon__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
}

.checkin-card__title {
  margin: 0px;
}

.checkin-card__description {
  margin-right: auto;
  margin-left: 1rem;
}

.checkin-card__marker-icon {
  font-size: 30px;
}

.checkin-card__marker-icon--visited {
  color: #4993bb;
}

.date-tag {
  font-weight: 500;
  color: #8d8d8d;
  display: flex;
  align-items: center;
  svg {
    font-size: 15px;
    margin-right: 5px;
  }
}

.checkin-btn {
  padding: 2rem 0;
  font-size: 18px;
}

.checkin-btn__link {
  display: block;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 9px 67px;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #535353;

  svg {
    margin-right: 10px;
    color: #d97a92;
    font-size: 22px;
  }
}


.checkin-section {

}

.checkin-section__bg {
  img {
    width: 100%;
    height: calc(100vh - 44px);
    object-fit: cover;
  }
}