.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-medium {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-narrow {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.page-section {
    padding-top: 55px;
}

.fixed-container {
    height: 100vh;
    overflow: hidden;
}

.checkin-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: white;
}