.section-title {
    font-weight: 400;
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.featured__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
        color: #c77f00;
        font-size: 22px;
    }
}