.navbar {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 2000;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.navbar__btn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  @media (min-width: 768px) {
    width: 150px;
  }
}

.navbar__logo {
  img {
    width: 135px;
  }
}

.navbar__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 5px 15px;
}

.navbar__user {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.navbar_user--avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.navnar__mb--separator {
  @media (min-width: 768px) {
    display: none;
  }
}
