@use 'normalize';

@use 'variables';

@use 'container';
@use 'navbar';
@use 'maps';
@use 'checkin';
@use 'headers';
@use 'profileheader';

@use 'userpage';

* {
    font-family: var(--font-family);
}

h3 {
    font-size: 1.1rem;
}

section {
    box-sizing: border-box;
}